<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/stylest.css">

</head>

<body>

<<<<<<< Updated upstream
<div class="sidenav scrollbar-deep-purple bordered-deep-purple thin">
    <div class="logobrandcard">
      <div class="d-flex flex-row logothuonghieu justify-content-center row">
        <div class="logobrand"><a href="home"><img src="resources/images/logo.png" width="90"  alt="logo"/></a></div>
        <div class="brandname">
          Dashboard
        </div>
      </div>
    </div>
    <div class="profilecard">
      <div>
        <img class="avatar" src="resources/images/adminprofile.png" height="80" alt="user" />
      </div>
      <div class="ten">Quản Trị Viên</div>
      <div class="numberphone">Cụm rạp</div>


    </div>
   
    
    <div class="panel" >



      <div class="panel-group-transaction">
        <div class="panel-group-logo panel-group-logoandname">
          <img src="resources/images/icons8-phone-96.png" height="60" alt="Nạp tiền điện thoại" />
        </div>
        <div class="panel-group-nametransaction panel-group-logoandname"><a href="movies"
            style="text-decoration:none">Quản lí lịch chiếu</a></div>
        <hr width="100%" color="white" align="center" size="2px">
      </div>



      <div class="panel-group-transaction">
        <div class="panel-group-logo panel-group-logoandname">
          <img src="resources/images/icons8-medical-history-96.png" height="60" alt="Lịch sử giao dịch" />
        </div>
        <div class="panel-group-nametransaction panel-group-logoandname"><a href="historyuser"
            style="text-decoration:none">Quản lí phòng chiếu</a></div>
        <hr width="100%" color="white" align="center" size="2px">
      </div>





      <div class="panel-group-transaction">
        <div class="panel-group-logo panel-group-logoandname">
          <img src="resources/images/icons8-delivery-time-96.png" height="60" alt="Giao dịch đang chờ" />
        </div>
        <div class="panel-group-nametransaction panel-group-logoandname"><a href="tranpending"
            style="text-decoration:none">Quản lí rạp</a></div>
      </div>
    </div>
    
  </div>
  <div class="content">

    {{{body}}}

  </div>
=======

    {{{body}}}


>>>>>>> Stashed changes

<!-- Page content -->


</body>

</html>