<div class="movies">

    <div class="listphim">
        <p>Danh sách phim</p>
    </div>
    <div>
        <table class="table table-dark table-hover">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Đạo diễn</th>                    
                    <th>Ngày phát hành</th>
                    <th>Thời lượng</th>
                    <th colspan="2">Thao tác</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">ID</td>
                    <td class="text-center">Tên</td>
                    <td class="text-center">Đạo diễn</td>
                    <td class="text-center">Ngày phát hành</td>
                    <td class="text-center">Thời lượng</td>
                    <td class="text-center"><button class="btn btn-primary">Xem thông tin</button></td>
                    <td class="text-center"><button class="btn btn-danger">Xóa phim </button></td>

                </tr>
                
            </tbody>
        </table>
    </div>

</div>