<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="">Tên phim</label>
        <input type="text" id="tenphim">
        <label for="">Đạo diễn</label>
        <input type="text" name="" id="daodien">
        <label for="">Thể loại</label>
        <input type="text" name="" id="theloai">
        <label for="">Nhà phát hành</label>
        <input type="text" name="" id="nhaphathanh">
        <label for="">Khởi chiếu</label>
        <input type="date" name="" id="khoichieu">
        <label for="">Kết thúc</label>
        <input type="date" id="ketthuc">
        <label for="">Thời lượng</label>
        <input type="text" name="" id="thoiluong">
        <label for="">Ngôn ngữ</label>
        <input type="text" name="" id="ngonngu">
        <label for="">Giới hạn đối tượng</label>
        <input type="text" name="" id="rated">
        <label for="">Năm sản xuất</label>
        <input type="text" name="" id="nsx">
    </form>
    <div id="message" style="display: none"></div>
    <div><button onclick="submitMovie()">Xác nhận</button></div>
</body>
<script src="/javascripts/nhanvien.js"></script>
</html>