<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm phim mới</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/nhanvien.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/nhanvien">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/nhanvien">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nhanvien/lichchieu/add">Thêm lịch chiếu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nhanvien/add">Thêm phim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nhanvien/lichchieu">Quản lí lịch chiếu phim</a>
                    </li>
                                        <li class="nav-item">
                        <a class="nav-link" href="/logout">Đăng xuất</a>
                    </li>
                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> --}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        
         <div class="d-flex justify-content-center m-3">
            <h1>Thêm phim mới</h1>
        </div>

        <div class="row justify-content-center">
            <div class="wrapper">
                
                <form class="form" action="">
                    <div class="form-group">
                        <label for="tenphim">Tên phim</label>
                        <input class="input" type="text" id="tenphim">
                    </div>

                    <div class="form-group">
                        <label for="daodien">Đạo diễn</label>
                        <input class="input" type="text" name="" id="daodien">
                    </div>

                    <div class="form-group">
                        <label for="theloai">Thể loại</label>
                        <input class="input" type="text" name="" id="theloai">
                    </div>

                    <div class="form-group">
                        <label for="nhaphathanh">Nhà phát hành</label>
                    <input class="input" type="text" name="" id="nhaphathanh">
                    </div>

                    <div class="form-group">
                        <label for="khoichieu">Khởi chiếu</label>
                    <input class="input" type="date" name="" id="khoichieu">
                    </div>

                    <div class="form-group">
                        <label for="ketthuc">Kết thúc</label>
                    <input class="input" type="date" id="ketthuc">
                    </div>

                    <div class="form-group">
                        <label for="thoiluong">Thời lượng</label>
                    <input class="input" type="text" name="" id="thoiluong">
                    </div>

                    <div class="form-group">
                        <label for="ngonngu">Ngôn ngữ</label>
                    <input class="input" type="text" name="" id="ngonngu">
                    </div>

                    <div class="form-group">
                        <label for="">Giới hạn đối tượng</label>
                    <input class="input" type="text" name="" id="rated">
                    </div>

                    <div class="form-group">
                        <label for="">Năm sản xuất</label>
                        <input class="input" type="text" name="" id="nsx">
                    </div>

                    <div class="form-group">
                        <label for="">Hình</label>
                        <input class="input" type="file" name="" id="file">
                    </div>
                </form>
                <div id="message" style="display: none"></div>
                <div class="form-group d-flex justify-content-end">
                    <button class="btn_Update m-2" onclick="submitMovie()">Xác nhận</button>
                    <button class="btn_Cancle m-2" onclick="cancelUpdate()">Hủy</button>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
<script src="/javascripts/nhanvien.js"></script>
</html>