<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="signupForm" action="">
        <label for="email">Email</label>
        <input type="text" name="" id="email">
        <label for="hoten">Họ Tên</label>
        <input type="text" name="" id="hoten">
        <label for="sdt">Số điện thoại</label>
        <input type="text" name="" id="sdt">
        <label for="password">Mật khẩu</label>
        <input type="text" name="" id="password">
        <label for="confirmPass">Xác nhận mật khẩu</label>
        <input type="text" name="" id="confirmPass">
        <button type="submit">Đăng ký</button>
    </form>
    <div id="message" style="display: none"></div>
    <div><a href="/login">Đăng nhập</a></div>
</body>
<script src="/javascripts/signup.js"></script>
</html>